%table.table.table-striped{ :width => "100%" }
  %thead
    %tr
      %th Time
      %th Talk
      %th Speaker
      %th Room
      - if logged_in?
        %th Edit
        %th Delete
  %tbody
    - @talks.each do |t|
      %tr
        %td 
          = t.start_time.strftime("%H:%M%p")
        %td
          = t.name
        %td 
          = t.who
        %td
          = t.room.name
        - if logged_in?
          %td
            = link_to 'Edit', edit_talk_path(t) 
          %td
            = link_to('Delete', talk_path(t), :method => "delete") unless t.deleted_at
